<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="com.asapsystems.barcodemin"
    version="0.1.3">
    <name>BarcodeminCDV</name>
    <description>Super Fast Barcode Scanner Cordova plugin</description>
    <license>MIT</license>
    <keywords>barcode</keywords>
    <repo>https://github.com/ASAPWebTeam/barcodemin.git</repo>
    <issue></issue>
    
    <js-module src="www/BarcodeminCDV.js" name="BarcodeminCDV">
        <clobbers target="barcodemin" />
    </js-module>
    
    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="BarcodeminCDV">
                <param name="ios-package" value="BarcodeminCDV" />
            </feature>
        </config-file>
        
        <header-file src="src/ios/barcodeViewController.h" />
        <header-file src="src/ios/BarcodeminCDV.h" />
        <source-file src="src/ios/BarcodeminCDV.m" />
        <source-file src="src/ios/barcodeViewController.m" />
        <resource-file src="src/ios/barcodeViewController.xib" />
      

        <framework src="AVFoundation.framework" />
        <framework src="UIKit.framework" />
        <framework src="QuartzCore.framework" />


    </platform>

    
</plugin>


