<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="com.asapsystems.barcodemin"
    version="0.1.6">
    <engines>
        <engine name="cordova" version=">=4.0.0" />
    </engines>
    <name>BarcodeminCDV</name>
    <description>Super Fast Barcode Scanner Cordova plugin</description>
    <license>MIT</license>
    <keywords>cszbar,zbar,barcode,qr,qr code,scanner</keywords>
    <repo>https://github.com/ASAPWebTeam/barcodemin.git</repo>
    
    
    <js-module src="www/BarcodeminCDV.js" name="BarcodeminCDV">
        <clobbers target="barcodemin" />
    </js-module>
    



 <platform name="android">
    <source-file src="android/BarcodeminCDV.java" target-dir="src/org/cloudsky/cordovaPlugins" />
    <config-file target="res/xml/config.xml" parent="/*"> 
      <feature name="BarcodeminCDV">
          <param name="android-package" value="org.cloudsky.cordovaPlugins.BarcodeminCDV"/>
      </feature>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <activity android:name="com.google.zxing.client.android.CaptureActivity" android:clearTaskOnLaunch="true" android:configChanges="orientation|keyboardHidden|screenSize" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:windowSoftInputMode="stateAlwaysHidden" android:exported="false">
        <intent-filter>
          <action android:name="com.google.zxing.client.android.SCAN"/>
          <category android:name="android.intent.category.DEFAULT"/>
        </intent-filter>
      </activity>
      <activity android:name="com.google.zxing.client.android.encode.EncodeActivity" android:label="Share">
        <intent-filter>
          <action android:name="corg.cloudsky.cordovaPlugins.ENCODE"/>
          <category android:name="android.intent.category.DEFAULT"/>
        </intent-filter>
      </activity>
      <activity android:name="com.google.zxing.client.android.HelpActivity" android:label="Share">
        <intent-filter>
          <action android:name="android.intent.action.VIEW"/>
          <category android:name="android.intent.category.DEFAULT"/>
        </intent-filter>
      </activity>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.CAMERA"/>
      <uses-permission android:name="android.permission.FLASHLIGHT"/>
      <uses-feature android:name="android.hardware.camera" android:required="true"/>
    </config-file>
    <framework src="src/android/barcodemincdv.gradle" custom="true" type="gradleReference"/>
    <resource-file src="src/android/barcodemincdv-release-2.0.1.aar" target="libs/barcodemincdv.aar"/>
    <!--<dependency id="cordova-plugin-compat" version="^1.0.0"/>-->
  </platform>



     



    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="BarcodeminCDV">
                <param name="ios-package" value="BarcodeminCDV" />
            </feature>
        </config-file>
        
        <header-file src="ios/barcodeViewController.h" />
        <header-file src="ios/BarcodeminCDV.h" />
        
        <source-file src="ios/BarcodeminCDV.m" />
        <source-file src="ios/barcodeViewController.m" />

        <resource-file src="ios/barcodeViewController.xib" />
        <resource-file src="ios/flip.png" />
        <resource-file src="ios/flip@2x.png" />
        <resource-file src="ios/beep.caf" />

        <framework src="AVFoundation.framework" />
        <framework src="UIKit.framework" />
        <framework src="QuartzCore.framework" />
        <framework src="AudioToolbox.framework" />

    </platform>

    
</plugin>


